<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Express App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home">home</a>
        <a class="nav-link" href="/rand">random</a>
        <a class="nav-link" href="/names">names</a>
        <a class="nav-link" href="/i/chickens">chickens</a>
        <a class="nav-link" href="/i/soccer">soccer</a>
        <a class="nav-link" href="/i/mightyharvest">Mighty Harvest</a>
      </div>
    </div>
  </div>
</nav>
