<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Item:</title>
  </head>
  <body>
    <h1>New item!</h1>

    <form action="/main" method="post">
      <label for="name">item name:</label>
      <input type="text" name="name" id="name" />
      <label for="price"> item price:</label>
      <input type="number" name="price" id="price" />

      <button>add item!</button>
    </form>
  </body>
</html>
