<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotels</title>
  </head>
  <body>
    <h1>All hotels on the site!</h1>
    <ul>
      <% for(let i = 0 ; i < hotels.length ; i++){ %>

      <ul>
       
       <li> <a href="/hotels/<%= hotels[i]._id %>"><b><%= hotels[i].title %></b></a></li>
        </li>
        <%= hotels[i].location %>
      </ul>

      <% } %>
    </ul>
  </body>
</html>
