<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New hotel</title>
  </head>
  <body>
    <h1>new hotel!</h1>

    <form action="/" method="post">
      <label for="title">Hotel name:</label>
      <input type="text" name="hotel[title]" id="title" />
      <label for="description">Hotel description:</label>
      <input type="text" name="hotel[description]" id="description" />
      <label for="price">Price for a night:</label>
      <input type="text" name="hotel[price]" id="price" />
      <label for="location">Location:</label>
      <input type="text" name="hotel[location]" id="location" />
      <button>Submit</button>
    </form>
  </body>
</html>
