<% layout('layouts/boilerplate') %>

<div class="">
  <div class="card-header d-flex justify-content-center">Hello user!</div>
  <div class="card-body">
    <h5 class="card-title">welcome to AirBnB site</h5>
    <p class="card-text">
      in this site you can put your apartment for a rent per night and also pick
      an apartment for you !
    </p>
  </div>
</div>
