<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    home , AirBnB

    <footer>
      <a href="/apartments">Watch a apartment to rent!</a>
      <a href="/apartment/new">Add an apartment!</a>
    </footer>
  </body>
</html>
