body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1f1b29;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 0.5em;
    transition: box-shadow 0.5s, border-color 0.5s, transform 0.5s, color 1 s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.6em 0.5em -0.4em #d1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}