h1{
    color: blue;
    text-align: center;
    text-decoration: black line-through dashed;
}
h2{
    color: bisque;
    text-decoration: underline dashed;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
label{
    color: brown;
}
button:hover{
    background-color: black;
    color: wheat;
}
.border {
         margin-top: 40px;
         margin-left: 40%;
            background-color: white;
            border-width: 2px;
            width: fit-content;
            color: grey;
            border-radius: 25px;
            box-align: center;
            text-align: center;
            padding: 15px;
            border-style: solid;

}
p{
    padding-left: 10px;
    margin-top: 50px;
}
br{
    color: black;
}
body{
    margin:0;
}
select{
    padding: 5px;
}
button{
    padding: 5px 10px 5px ;
}
input[type = "email"], input[type = "password"]{
    height: 20px;
    width: 100px;
}
*{
    background-color: grey;
}