<%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>This is a template! <%= 1+4 // this is js inside a ejs file%></h1>
    <div>this is a ejs file using ejs!!</div>
  </body>
</html>
