<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Account</title>
  </head>
  <body>
    <form action="/tweets" method="post">
      <label for="name">name:</label>
      <input type="text" name="name" id="name" />
      <label for="age">age:</label>
      <input type="number" name="age" id="age" />
      <button>Register!</button>
    </form>
  </body>
</html>
