<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>account info</h1>
    <br />
    <%= user.name %>
    <br />
    <%= user.age %>

    <a href="/<%= user._id %>/new">new tweet!</a>
  </body>
</html>
