<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account info</title>
  </head>
  <body>
    <div class="">
      <h1>Account info</h1>
      <b>name: </b> <%= user.name %>
      <br />
      <b>age: </b> <%= user.age %>
    </div>

    <a href="/<%= user._id %>/new">new tweet!</a>
  </body>
</html>
