<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>new user</h1>
    <div>
      <form action="/">
        <label for="email">enter email:</label>
        <input type="email" , name="email" , id="email" required />
        <br />
        <label for="password">enter password:</label>
        <input type="password" name="password" id="password" required />
        <br />
        <button>submit</button>
      </form>
    </div>
  </body>
</html>
