<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comment</title>
  </head>
  <body>
    <h1>New comment:</h1>
    <form action="/comments" method="get">
      <label for="username">enter User Name:</label>
      <input type="text" name="username" id="username" />
      <label for="text">enter Comment:</label>
      <input type="text" name="text" id="text" />
      <button>submit</button>
    </form>
  </body>
</html>
