<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New apartment</title>
  </head>
  <body>
    <h1>new apartment!</h1>

    <form action="/apartments" method="post">
      <label for="title">apartment name:</label>
      <input type="text" name="apartment[title]" id="title" />
      <label for="description">apartment description:</label>
      <input type="text" name="apartment[description]" id="description" />
      <label for="price">Price for a night:</label>
      <input type="text" name="apartment[price]" id="price" />
      <label for="location">Location:</label>
      <input type="text" name="apartment[location]" id="location" />
      <button>Submit</button>
    </form>
  </body>
</html>
