#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

#buttons {
    display: flex;
    flex-grow: 1;

}

span {
    font-size: 30px;
}