<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>hello</h1>
    <p>hello user , this is the home screen of the website</p>

    <form action="/register">
      <button>Register!</button>
    </form>
    <a href="/allusers"> Show all users:</a>
  </body>
</html>
