<% layout('layouts/boilerplate') %>

<h1>new apartment!</h1>

<form action="/apartments" method="post" class="mx-3">
  <div class="mb-3">
    <label for="title" class="form-label">apartment name:</label>
    <input type="text" class="form-control" id="title" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <input type="text" class="form-control" id="description" />
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price for a night:</label>
    <input type="text" class="form-control" id="price" />
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input type="text" class="form-control" id="location" />
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn color-primary bg-secondary text-white">
      Submit
    </button>
  </div>
</form>
