<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New apartment</title>
  </head>
  <body>
    <h1>new apartment!</h1>

    <form action="/apartments" method="post">
      <label for="title">apartment name:</label>
      <input type="text" name="title" id="title" />
      <label for="description">apartment description:</label>
      <input type="text" name="description" id="description" />
      <label for="price">Price for a night:</label>
      <input type="text" name="price" id="price" />
      <label for="location">Location:</label>
      <input type="text" name="location" id="location" />
      <button>Submit</button>
    </form>
    <footer>
      <a href="/apartment">Go back</a>
    </footer>
  </body>
</html>
