<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Add apartment</h1>
  <div class="col-6 offset-3">
    <form action="/apartments/<%= id %>" method="post" class="mx-3">
      <div class="mb-3">
        <label for="description" class="form-label">body of review</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="review[body]"
          required
        >
        </textarea>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">*</span>
        <input
          type="number"
          name="review[rating]"
          class="form-control"
          aria-describedby="basic-addon1"
          required
        />
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn color-primary bg-secondary text-white">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
